In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/myocardial-prediction-dataset/MI_Dataset.csv

# Opening Dataset

In [4]:
df = pd.read_csv('/kaggle/input/myocardial-prediction-dataset/MI_Dataset.csv')

In [5]:
df

,Unnamed: 0,subject_id,gender,age,Troponin T(ng/ML),emergency,medications,diagnosis,abnormal
0,0,12468016,M,50,0.0500,1,"[nan, 'Heparin', 'OxyCODONE SR (OxyconTIN)', '...","[""Crohn's disease, unspecified, without compli...",1
1,1,13475033,M,66,0.0800,1,"['Bisacodyl', 'Acetaminophen', 'OxycoDONE (Imm...","['Lumbago', 'Unspecified essential hypertensio...",1
2,2,18902344,M,47,0.0800,1,"['Gabapentin', 'Insulin', 'Torsemide', 'Senna'...","['Muscle weakness (generalized)', 'Displacemen...",1
3,3,16439884,F,74,0.1100,0,"['Insulin', 'Acetaminophen', 'Sulfameth/Trimet...","['Acute on chronic diastolic heart failure', '...",1
4,4,18284271,F,68,0.0200,1,"['Cepacol (Menthol)', 'Loperamide', 'Omeprazol...","['Periapical abscess without sinus', 'Bacterem...",1
...,...,...,...,...,...,...,...,...,...
42661,42661,16383941,F,28,0.0016,1,"['Morphine Sulfate', 'Heparin', 'Ondansetron',...",['Kidney donor'],0
42662,42662,10845132,F,35,0.0036,1,"['Sodium Chloride 0.9% Flush', 'DiphenhydrAMI...",['Cervicalgia'],0
42663,42663,15199640,M,63,0.0052,0,"['Senna', 'Sodium Chloride 0.9% Flush', 'Acet...",['Memory loss'],0
42664,42664,10622292,F,54,0.0083,1,"['Docusate Sodium', 'Ketorolac', 'Influenza Vi...",['Rectocele'],0
42665,42665,13740865,M,38,0.0035,1,"['Fexofenadine', 'Famotidine', 'Albuterol Inha...",['Headache'],0

In [6]:
df.describe() # classes are evenly balanced 50 50 percent divide, no null values

,Unnamed: 0,subject_id,age,Troponin T(ng/ML),emergency,abnormal
count,42666.000000,4.266600e+04,42666.000000,42666.000000,42666.000000,42666.000000
mean,21332.500000,1.502008e+07,65.187386,0.244192,0.652182,0.500000
std,12316.757629,2.883617e+06,17.208919,1.067323,0.476283,0.500006
min,0.000000,1.000008e+07,18.000000,0.000100,0.000000,0.000000
25%,10666.250000,1.252235e+07,54.000000,0.005000,0.000000,0.000000
50%,21332.500000,1.502941e+07,67.000000,0.009900,1.000000,0.500000
75%,31998.750000,1.751857e+07,79.000000,0.080000,1.000000,1.000000
max,42665.000000,1.999999e+07,91.000000,52.400000,1.000000,1.000000

# Encoding Gender, Medications and Diagnosis